body {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}
#copyRight{
    text-align: center;
}
#secondSection img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}
li {
    list-style: none;
}
p{
    text-align: left;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:10px;
}

#main-div {
    width: 95%;
    background-color: antiquewhite;
    padding: 10px;
    margin: auto;
}

#side{
    background-color: salmon;
    text-align: left;
    color: rgb(209, 232, 253);
}
#side a{
    color: aliceblue;
}
#side h3{
    padding-left: 40px;
    color: aliceblue;

}
#side li{
    text-decoration: underline;
}
header {
    text-align: center;
}


#secondSection{
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(166, 216, 200);
    padding: 10px;

}

nav a {
    text-decoration: none;
    border: 2px solid orange;
    padding-left: 0px;
    background: rgb(47, 145, 42);
    color: rgb(254, 201, 254);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

@media only screen and (min-width: 600px) {
    .columns {
        display: flex;
    }

    .one {
        flex: 1;
    }

    .two {
        flex: 2;
    }

    .four {
        flex: 4;
    }
    .eight{
            flex: 8;
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding:10px;

    }

    nav ul {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: space-around;
        list-style: none;
    }

    nav li {
        display: inline-block;
        flex: 1;
    }

}
