/* Base styles */
body {
    margin: 0;
    padding: 0;
    background-color: #7891EB;
}
body h1 {
    text-align: center;
    font-size: 48px;
}

/* nav */
nav {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#toggle-nav div{
    width: 25px;
    height:2px;
    background-color: black;
    margin: 6px 0;
    display: block;
    margin-left:5px;

}
nav ul {
    list-style: none;
    display: inline-block;
    justify-content: space-around;
    padding: 20px 0;
    margin: 0;
    width: 100%;
}

nav ul a {
    text-decoration: none;
    color: darkblue;
    font-size: 26px;
    display: block;
    margin: 0;
    border: 2px black solid;
    width: 100%;
    background-color: beige;
    text-align: center;
    height: 150%;
    padding:15px;
}
nav ul a:hover {
    color: white;
    background-color: darkblue;
}
/* end nav */


/* Image Styles */
img {
    border-radius: 15px;
    height: 400px;
    width: 400px;
    margin: 10px;
}
#main-div {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #beccff;
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}
.columns {
    display: block;
    
}
.one {
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.slideshow {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.slideshow-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* Modal CSS */
#modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
#modal.show {
    display: flex;
}
#modal img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 15px;
}
#prev, #next {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
}
#prev {
    left: 10px;
}
#next {
    right: 10px;
}
#close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: white;
    cursor: pointer;
}
.hidden {
    display: none;
}

/* Mobile responsiveness */
@media only screen and (min-width: 600px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1;
    }
    .columns {
        display: flex;
    }
    .one {
        flex: 1;
    }
    #toggle-nav div {
        display: none;
    }
    .columns {
        display: flex;
    }
}
