body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: darkred;
}
div{
    align-content: center;
    padding: 5px;
    margin: 10px auto;
    width: 90% auto;
    border-radius: 10px;
}
#one{
    text-decoration: none;
    color: black;
}
#two{
    text-decoration: none;
    color: darkgrey
}